{% extends "layout.html.twig" %}
{% block main %}
<section id="main-content">
<div class="container-md mt-5" data-aos="fade-in">
  <div class="row cookie-div">
    <div class="col text-center">
      <h1>Süti („cookie”) tájékoztató</h1>
    </div>
    </div>
    <div class="row">
    <div class="col cookie-col">
      Weboldalunk a személyre szabott tartalom érdekében „cookie”-kat (továbbiakban „süti”) használ.
      Ezek olyan fájlok, melyek információt tárolnak böngészőjében.
    </div>
    </div>

    <div class="row">
    <div class="col cookie-col">
      A „sütiket” az elektronikus hírközlésről szóló 2003. évi C. törvény, az elektronikus kereskedelmi
      szolgáltatások, az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről
      szóló 2001. évi CVIII. törvény, valamint az Európai Unió előírásainak megfelelően az Ön
      hozzájárulását követően használjuk.
    </div>
    </div>

    <div class="row">
    <div class="col cookie-col">
      <h2>Mik azok a „sütik”?</h2>
      A „sütik” betűket és számokatat tároló kis méretű fájlok.
      A „sütiket” a webszerver és a felhasználó böngészője közötti adatcserére használják.
      A tárolt "sütik" nem férhetnek hozzá a felhasználók merevlemez tartalmához,
      nem futtathatók és nem tartlamaznak vírusokat, kémprogramokat.
      A „sütik” által tárolt információk segítségével a böngészők azonosítása könnyebbé válik,
      így a felhasználók releváns és „személyre szabott” tartalmat kaphatnak.
      A „sütik” segítségével a weboldalak üzemeltetői névtelen (anonim) statisztikákat is készíthetnek
      a látogatók szokásairól.
    </div>
    </div>

    <div class="row">
    <div class="col cookie-col">
      <h2>"Sütik" típusai:</h2>
      <ul>
      <li>
        ideiglenes „sütik”: melyek addig maradnak eszközén, amíg a böngészőben töltött munkamenet
        le nem jár, el nem hagyja az oldalt
      </li>
      <li>állandó „sütik”: melyek hosszabb ideig vagy egészen a törlésükig letárolva maradnak</li>
      <li>harmadik féltől származó „sütik”: melyeket harmadik fél helyez el az Ön böngészőjében</li>
      <li>
        elengedhetetlen session (munkamenet) „sütik”: ezek használata elengedhetetlen a weboldal
        funkcióinak működéséhez. Ezek elfogadása nélkül a honlap bizonyos funkciói elérhetetlenné
        válnak
      </li>
      <li>
        analitikai „sütik”: a látogatók azonosítására és böngészési szokásaik elemzésére szolgálnak.
        (pl. "Maradjak bejelentkezve" funkció, kiválasztott nyelv megjegyzése stb...)
      </li>
      <li>
        funkcionális „sütik”: az Ön által kért adatokat tárolják bizonyos funkciókhoz,
        mint például az automatikus bejelentkezés
      </li>
      <li>
        célzott vagy reklám „sütik”: marketing információkat tárolnak az Ön kifejezett
        beleegyezésével, például böngészési szokásairól
      </li>
      </ul>
      A legtöbb „süti” nem tartalmaz személyes információkat és a felhasználók beazonosításra nem alkalmas.
      A tárolt adatokhoz jogosulatlan személy nem férhet hozzá.

      <h2 class="mt-2">Oldalunk által használt "sütik":</h2>
      <table class="table table-mobile-responsive table-bordered cookie-table mt-2 mb-2">
      <thead>
        <tr>
        <th scope="col">Név</th>
        <th scope="col">Típus</th>
        <th scope="col">Lejárat típusa</th>
        <th scope="col">Funkció</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td scope="row">1p_jar</td>
        <td>célzott / reklám</td>
        <td>állandó</td>
        <td>marketing optimalizációhoz elősegítő "süti"</td>
        </tr>
        <tr>
        <td scope="row">cookiesApproved</td>
        <td>funkcionális</td>
        <td>állandó</td>
        <td>"süti" tájékoztató elfogadása</td>
        </tr>
        <tr>
        <td scope="row">language</td>
        <td>funkcionális</td>
        <td>állandó</td>
        <td>az oldal nyelv kiválasztó funkciójához szükséges "süti"</td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
    <div class="row">
    <div class="col cookie-col">
      <h2>Biztonsággal kapcsolatos tényezők</h2>
      A „sütik” nem tekinthetők programoknak, mivel nem futtathatóak és így vírusokat és kémprogramokat sem tartlamaznak.
      Előfordulhat azonban, rosszindulattal rejtenek el információkat a „sütiben”, ezért böngészés sörán vírusírtó használata erősen javasolt.
      A böngésző és a webszerver közötti kommunikáció folyamatos és kétirányú, ezért ha egy támadó beékelődik a két végpont közé adatokat nyerhet ki a "sütikből" nem megfelelő titkosítás esetén (pl rosszul konfigurált publikus WiFi).
    </div>
    </div>
    <div class="row">
    <div class="col cookie-col">
      <h2>A „sütik” kezelése, törlése</h2>
      A „sütiket” a használt böngészőprogramokban lehet törölni vagy letiltani.
      A böngészők alapértelmezett módon engedélyezik a „sütik” elhelyezését, azonban lehetőséget biztosítanak a "sütik" kezelésének konfigurálására, tárolt "sütik" törlésére.
      Ezen funkciók általában a böngésző "Beállítások" menüpontjában találhatóak, azonban minden böngésző különböző.
      <br /><br />
      Az alábbi böngészőknél a nevükre kattintva talál bővebb információkat a "sütik" beállításaihoz:<br />
      <a href="https://support.microsoft.com/hu-hu/windows/cookie-k-t%C3%B6rl%C3%A9se-%C3%A9s-kezel%C3%A9se-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank" class="cookie-link">
      Internet Explorer >>
      </a>
      <br />
      <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies" target="_blank" class="cookie-link">
      Mozilla Firefox >>
      </a>
      <br />
      <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" class="cookie-link">
      Google Chrome >>
      </a>
      <br />
      <a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank" class="cookie-link">
      Safari >>
      </a>
    </div>
    </div>
  </div>
</section>
{% endblock %}
