{% extends "layout.html.twig" %}
{% block main %}
    <section id="main-content">
        <div class="container-md" data-aos="fade-in">
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/halloween1.jpg') }}"/></p>
                    <h1 class="text-center">2023. október 28.-án 19 órától rémségek bulija a
                        <br/>BORPATIKÁBAN</h1>
                    <br/>
                    <h1 class="text-center">Rémséges ételek, ijesztő italok, szellemek és boszorkányok,zombik és horror.</h1>
                    <h1 class="text-center">Aki jelmezben jön vendégünk egy koktélra.</h1>
                    <h1 class="text-center">Hozd el a barátaidat és bulizz
                                                 velünk!</h1>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>{% endblock %}
