{% extends "layout.html.twig" %}
{% block main %}
    <section id="main-content">
        <div class="container-md" data-aos="fade-in">
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/kviz.jpg') }}"/></p>
                    <br/>
                    <h1>Minden héten szerdán újra visszatér a Borpatikában a korábban megszokott hagyományos kocsmakvíz!</h1>
                    <br/>
                    <h1>Várunk szeretettel minden játékoskedvű Vendégeinket!</h1>
                    <br/>
                    <h1>Szóljatok ismerőseiteknek, lehet, hogy Ők is kedvet kapnak hozzá!</h1>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/fodorsb.jpg') }}"/></p>
                    <h1>Fodor „Shodor” Balázs visszatér a Borpatikában, várjuk szeretettel a zenei ínyencekre kíváncsikakat!</h1>
                    <h1>Május 27. este 19:00-tól a pincében!</h1>
                    <h1>Esemény
                        <a href="https://www.facebook.com/events/194790986806813">
                            <u>itt</u>
                        </a>
                    </h1>
                </div>
            </div>
            <br/>
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" class="img-fluid" src="{{ asset('img/akusztik.jpg') }}"/></p>
                    <br/>
                    <h1>Ismét zenés este egy fiatal tehetség bemutatkozik a Borpatikában!</h1>
                    <h1>Várunk benneteket szeretettel vasárnap 19:30-tól</h1>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>{% endblock %}
