{% extends "layout.html.twig" %}
{% block main %}
    <section id="main-content">
        <div class="container-md" data-aos="fade-in">
        <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/kviz.jpg') }}"/></p>
                    <h1>2023.03.06.-án szerdán 19:00-kor a Borpatikában újra megrendezésre kerül a hagyományos kocsmakvíz!</h1>
                    <br/>
                    <h1>Várjuk szeretettel minden játékoskedvű Vendégeinket!</h1>
                    <br/>
                    <h1>Szóljatok ismerőseiteknek, lehet, hogy Ők is kedvet kapnak hozzá!</h1>
                    <br/>
                </div>
            </div>
        <div class="d-flex flex-row justify-content-center">
        <div class="text-left">
        <p><h2>Szilveszteri és újévi ajánlatunk</h2></p>
        <p class="text-center"><img class="img-fluid" src="{{ asset('img/szilveszter.jpg') }}"/></p>
<table class="table table-borderless" style="font-size: 20px!important;">
  <thead>
  </thead>
  <tbody>
        <tr><td>Sertés kocsonya</td><td>1100.-</td></tr>
        <tr><td>Szilveszteri hidegtál</td><td>3500.- / fő</td></tr>
        <tr><td>Lencsegulyás</td><td>1150.-</td></tr>
        <tr><td>Halászlé</td><td>2800.-</td></tr>
        <tr><td>Lencse főzelék</td><td>990.-</td></tr>
        <tr><td>Töltött káposzta</td><td>2300.-</td></tr>
        <tr><td>Malacsült pezsgős lila káposztával</td><td>2950.-</td></tr>
        <tr><td>Libacomb pezsgős lila káposztával</td><td>4500.-</td></tr>
        <tr><td>Somlói galuska</td><td>1150.-</td></tr>
        <tr><td>Tiramisu</td><td>850.-</td></tr>
        <tr><td>Apró töltött kifli</td><td>8500.- / kg</td></tr>
        <tr><td>Sós teasütemény</td><td>5000.- / kg</td></tr>
        <tr><td>Pogácsa tepertős (különböző nagyságban)</td><td>400.-</td></tr>
        <tr><td>sajtos</td><td>400.-</td></tr>
        <tr><td>túrós</td><td>450.-</td></tr>
        <tr><td>káposztás</td><td>400.-</td></tr>
        <tr><td>medvehagymás</td><td>450.-</td></tr>
        <tr><td>Szendvicsek (sokféle változatban)</td></tr>
        </tbody></table>
        </div></div>
        <div class="d-flex flex-row justify-content-center">
        <div class="text-left">
        <p><h2>Ne fáradjon, bízza ránk a karácsonyi sütés-főzés gondját és
          élvezze az ünnepeket!<br/>
          Rendelje meg nálunk a karácsonyi finomságokat.
          </h2></p>
        <p class="text-center"><img class="img-fluid" src="{{ asset('img/christmas.jpg') }}"/></p>
        <p class="text-center"><h2>Ízelítő kínálatunkból:</h2></p>
        <p class="text-left">

        <table class="table table-borderless" style="font-size: 20px!important;">
  <thead>
  </thead>
  <tbody>
    <tr><td>Pontyhalászlé frissen belefőzött ponty szelettel</td><td>2800.-</td></tr>
          <tr><td>Pontyhalászlé pontyszelettel és belsőséggel</td><td>3450.-</td></tr>
          <tr><td>Halászlé alaplé</td><td>1900.-</td></tr>
          <tr><td>Újházy tyúkhúsleves</td><td>1500.-</td></tr>
          <tr><td>Karácsonyi borleves</td><td>1100.-</td></tr>
          <tr><td>Borjú tatár primőr zöldségekkel</td><td>3800.-</td></tr>
          <tr><td>Cézár saláta</td><td>1690.-</td></tr>
          <tr><td>Házi sertés kocsonya</td><td>1100.-</td></tr>
          <tr><td>Töltött káposzta</td><td>2300.-</td></tr>
          <tr><td>Sült libacomb pezsgős káposztával</td><td>4500.-</td></tr>
          <tr><td>Gesztenyével töltött pulykamell</td><td>2500.-</td></tr>
          <tr><td>Aszalt szilvával töltött csirkemell bacon szalonnába tekerve édesburgonya pürével</td><td>3200.-</td></tr>
          <tr><td>Narancsos kacsacomb hagymás tört burgonyával</td><td>4200.-</td></tr>
          <tr><td>Töltött dagadó majonézes burgonya salátával</td><td>1800.-</td></tr>
          <tr><td>Csabai töltött karaj pezsgős lila káposztával</td><td>2800.-</td></tr>
          <tr><td>Rántott ponty patkó majonézes burgonya salátával</td><td>3200.-</td></tr>
          <tr><td>Vörösboros,gombás szarvasragu burgonya krokettel</td><td>3700.-</td></tr>
          <tr><td>Vaddisznó pörkölt vadász galuskával</td><td>3450.-</td></tr>
          <tr><td>Majonézes saláták (burgonya,francia,tojás,stb.)</td></tr>
  </tbody>
</table>
<p class="text-center"><h2>Süteményeink:</h2></p>
<table class="table table-borderless" style="font-size: 20px!important;">
  <thead>
  </thead>
  <tbody>
    <tr><td>Beigli diós 3000 / rúd / 50dkg</td><td>320 Ft/szelet</td></tr>
    <tr><td>mákos 2700 /rúd / 50 dkg</td><td>320 Ft/szelet</td></tr>
    <tr><td>gesztenyés 3000 /rúd / 50 dkg</td><td>320 Ft/szelet</td></tr>
    <tr><td>Sajtos apró sütemény 5000 / kg</td><td></td></tr>
    <tr><td>Pogácsák sajtos </td><td>400 Ft / db</td></tr>
    <tr><td>tepertős </td><td>400 Ft / db</td></tr>
    <tr><td>káposztás </td><td>400 Ft / db</td></tr>
    <tr><td>túrós </td><td>450 Ft / db</td></tr>
    <tr><td>Házi rétes túrós</td><td>520 Ft / szelet</td></tr>
    <tr><td>almás</td><td>400 Ft / szelet</td></tr>
    <tr><td>mákos</td><td>520 Ft / szelet</td></tr>
    <tr><td>meggyes</td><td>500 Ft / szelet</td></tr>
    <tr><td>káposztás</td><td>400 Ft / szelet</td></tr>
    <tr><td>Somlói galuska</td><td>1150- Ft / adag</td></tr>
    <tr><td>Tiramisu</td><td>850-Ft / adag</td></tr>
  </tbody>
  </table>
        </p>
        </div>
  </div>

            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/halloween1.jpg') }}"/></p>
                    <h1 class="text-center">2023. október 28.-án 19 órától rémségek bulija a
                        <br/>BORPATIKÁBAN</h1>
                    <br/>
                    <h1 class="text-center">Rémséges ételek, ijesztő italok, szellemek és boszorkányok,zombik és horror.</h1>
                    <h1 class="text-center">Aki jelmezben jön vendégünk egy koktélra.</h1>
                    <h1 class="text-center">Hozd el a barátaidat és bulizz
                                                                                                                                                                                                                                                                                                                                                                         velünk!</h1>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>{% endblock %}
