{% extends "layout.html.twig" %}
{% block main %}
    <section id="main-content">
        <div class="container-md" data-aos="fade-in">
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/kviz.jpg') }}"/></p>
                    <h1>Újra visszatér a Borpatikába a korábban megszokott hagyományos kocsmakvíz!</h1>
                    <br/>
                    <h1>Várjuk szeretettel minden játékoskedvű Vendégeinket!</h1>
                    <br/>
                    <h1>Szóljatok ismerőseiteknek, lehet, hogy Ők is kedvet kapnak hozzá!</h1>
                    <h1>Facebook esemény:
                        <a href="https://www.facebook.com/events/824242889498326">https://www.facebook.com/events/824242889498326</a>
                    </h1>
                    <br/>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <p class="text-center"><img class="img-fluid" src="{{ asset('img/halloween1.jpg') }}"/></p>
                    <h1 class="text-center">2023. október 28.-án 19 órától rémségek bulija a
                        <br/>BORPATIKÁBAN</h1>
                    <br/>
                    <h1 class="text-center">Rémséges ételek, ijesztő italok, szellemek és boszorkányok,zombik és horror.</h1>
                    <h1 class="text-center">Aki jelmezben jön vendégünk egy koktélra.</h1>
                    <h1 class="text-center">Hozd el a barátaidat és bulizz
                                                                                                                                                                                                                                                                                                                         velünk!</h1>
                </div>
            </div>
            <br/>
        </div>
    </div>
</section>{% endblock %}
