{% extends "layout.html.twig" %}
{% block main %}
    <section id="main-content">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div id="nanogallery2" data-nanogallery2='{
                                    "thumbnailHeight": 200,
                                    "thumbnailWidth":  200,
                                    "thumbnailDisplayTransition": "slideUp2",
                                    "thumbnailDisplayTransitionDuration":  500,
                                    "thumbnailDisplayInterval":    30,
                                    "galleryDisplayTransition":    "rotateX",
                                    "galleryDisplayTransitionDuration":  500 ,
                                    "thumbnailHoverEffect2": "scale120"
                                    }'>
                        {% for imageSrc in galleryImages %}
                            <a href="{{ asset('img/photoalbum/' ~ imageSrc) }}" data-ngthumb="{{ asset('img/photoalbum/' ~ imageSrc) }}"></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
